<div class="col-lg-3" style="text-align: center;">
	<img  class='user-image 'src="https://th.bing.com/th/id/OIP.awAiMS1BCAQ2xS2lcdXGlwAAAA?pid=ImgDet&rs=1" alt="">

	<nav class="privacy-nav background-color-red">
		<ul>
			<li><a class="nav-link scrollTo" href="{% url 'expense.dashboard' %}" class="scrollTo">Relatório Geral</a></li>
			<li><a class="nav-link scrollTo" href="{% url 'expense.create'%}" class="scrollTo">Cadastrar</a></li>
			<li><a class="nav-link scrollTo" href="{% url 'expense.list'%}" class="scrollTo">Ver Lista de Gastos</a></li>
			<li><a class="nav-link scrollTo" href="#governigLaw" class="scrollTo">Governing Law</a></li>
		</ul>
	</nav>
</div>